* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(270deg, #ffffff, #001969);
    background-size: 400% 400%;
    animation: gradient-animation 12s ease infinite;
    position: relative;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  header {
    background-color: #3b3b3b;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h2 {
    margin: 0;
  }
  
  header button {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  header button:hover {
    background-color: #d62839;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  #display-num {
    font-size: 5rem;
    background-color: #555555;
    color: white;
    padding: 20px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  main h3 {
    font-size: 1.5rem;
    color: white;
  }
  
  footer {
    background-color: #3b3b3b;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
 input[type="number"] {
    width: 60px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  footer button {
    background-color: #06d6a0;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  footer button:hover {
    background-color: #04b383;
  }
  
  footer div {
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  /* Ajustes Responsive */
  @media (max-width: 600px) {
    header, footer {
      flex-direction: column;
      gap: 10px;
    }
  
    #display-num {
      font-size: 4rem;
      width: 80px;
    }
  
    footer button {
      font-size: 14px;
    }
  }
  